/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: column;
	justify-content: space-between;
	margin-bottom: 50px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.header__login {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	cursor: pointer;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

nav li a {
	text-decoration: none;
	color: black;
}

nav li a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filter__container{
	text-align: center;
	margin-bottom: 50px;
}
.filter {
	height: 40px;
	outline: none;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	padding: 0px 20px;
	background-color: white;
	margin: 5px;
	font-weight: 700;
	cursor: pointer;
}

.filter:hover {
	color: white;
	background-color: #1D6154;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	transition: transform 0.20s
}

input[type="submit"]:hover {
	transform: scale(1.05);
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.login__logo {
	text-decoration: none;
}

.login-page {
	display: flex;
	flex-direction: column;
	margin: auto;	
	width: 380px;
}

.login-page_title {
	text-align: center;
	margin-bottom: 50px;
}

.login-page form {
	display: flex;
	flex-direction: column;
}

.login-form input {
	height: 50px;
	margin-bottom: 30px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	border: none;
}

.login-form label {
	margin-bottom: 5px;
}

.login-button {
	margin: auto;
	width: 180px;	
	height: 35px;
	background-color: #1D6154;
	color: white;
	border-radius: 60px;
	border: none;
	cursor: pointer;
	transition: transform 0.2s;
}
.login-button:hover {
	transform: scale(1.1);
}

.login-link {
	margin: auto;
	padding-top: 30px;
	color: black;
}

.login-footer {
	position: absolute;
	bottom: 0;
	right: 10px;
}

.editMode{
	display: none;
	height: 60px;
	width: 100%;
	background-color: rgb(5, 5, 5);
	z-index: 0;

}

.fa-regular .edit {
	color: white;
	margin-right: 20px;
	cursor: pointer;
}

.editModeIcone {
	position: relative;
	color: white;
	left: 35%;
	top: 11px;
}

.editModeIcone button {
	background-color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 30px;
	margin-left: 20px;
	cursor: pointer;
}

.editModeIcone button:hover {
	box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.5);

}

.edit__button {
	color: black;
	margin-right: 5px;
}

.edit__container {
	cursor: pointer;
	display: none;
}

.edit__container:hover {
	color: #1D6154;
	font-weight: 600;
}

.position {
	position: relative;
	top: 10px;
	left: 60px;
}
.position2 {
	position: relative;
	left: 680px;
	bottom: 52px;

}

/* creation de la modal */


.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.2); 
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.4s;
}

.modal_wrapper {
	padding: 30px 100px;
	position: fixed;
	background-color: #ffffff;
	width: 500px;
	height: 70vh;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	animation: slideTop 0.4s;
}

.modal_content{
	width: 100%;
	height: 60vh;
	overflow: auto;
	display: flex;
	align-items: center;
}

.modal_header h3 {
	font-size: 40px;
	font-family: "work Sans";
	margin-bottom: 20px;
}

.modalClose {
	font-size: 36px;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 650px;
	color: #666;
}

.modalClose:hover {
	color: #000;
}

.modalBack {
	position: relative;
	right: 200px;
	bottom: 70px;
	font-size: 24px;
	font-weight: bold;
	color: #666;
	cursor: pointer;
	display: none;
}
  
.modalBack:hover {
	color: #000;
}
  

.modal_content .galleryModal {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

/* .modal_content img{
	
} */

.modal_content figure {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100px;
	cursor: pointer;
	
}

.modal_content figure div i {
	background-color: black;
	height: 25px;
	width: 25px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: white;
	border-radius: 5px;
}

.modal_content figure div i::before {
	position: absolute;
	left: 6px;
	top: 5px;
}

.modal_footer {
	display: flex;
	flex-direction: column;
	border-top: solid 1px black;
	width: 100%;
	text-align: center;
}

.modal_footer input {
	margin-top: 40px;
	padding: 15px;
	width: 300px;
	cursor: pointer;
	border: none;
}

.modal_footer_add {
	border-top: solid 1px black;
}

.modal_footer_add button {
	margin-top: 40px;
	padding: 15px;
	width: 300px;
	cursor: pointer;
	border: none;
	color: white;
	border-radius: 50px;
	height: 50px;
	font-size: 20px;
	background-color: #A7A7A7;
}

.modal_footer p {
	color: red;
	font-size: 16px;
}

.addContent {
	display: none;
	flex-direction: column;
	width: 100%;
	text-align: center;
}

.addContent_picture {
	border: solid 1px #E8F1F7;
	border-radius: 3px;
	height: 200px;
	background-color: #E8F1F7;
	width: 99%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.addContent_picture input {
	display: none;
}

.addContent_picture label {
	border: none;
	background-color: #CBD6DC;
	border-radius: 50px;
	height: 40px;
	width: 50%;
	color: #306685;
	font-size: 16px;
	font-weight: 600;
	margin: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s;
}

.addContent_picture label:hover {
	background-color: #A7A7A7;
}

.addContent_form {
	display: flex;
	flex-direction: column;
	text-align: left;
	height: 200px;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 40px;
}

.addContent_form input, select {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	height: 50px;
	outline: none;
}

.addContent_form label {
	font-weight: 600;
}

.addContent_picture .content {
	color: #B9C5CC;
	font-size: 60px;
	
}

.error-message{
	color: red;
  }
  

.iconHover {
	transform: scale(1.1);
	transition: transform 0.1; /* Ajoute une transition animée */
}

.figureHover {
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
	border-radius: 5px;
	transition: transform 0.3s, box-shadow 0.3s
}

@keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes slideTop  {
	from{
		transform: translateY(-100px);
	} to {
		transform: translateY(0px);
	}
	
}

@keyframes fadeOut {
	from {
		opacity: 1;
	} to {
		opacity: 0;
	}
}